*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/images/background.png);
    background-position: cover;
    background-size: cover;

}
.app-wraper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.6));
}

header{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 50px 15px;
}

header input{
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    outline:none;
    border-radius: 16px 0;
    transition: 0.2s ease-in-out;
    max-width: 280px;
    width:100% ;
    font-size: 16px;
    font-weight: 300;
    color: #313131;
}
header input:focus{
    background: rgba(255, 255, 255, 0.6);
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px 25px 50px;
}

.location .city{
    color: seashell;
    font-weight: 500;
    font-size: 32px;
    padding: 5px;
}

.location .date{
    font-size: 16px;
    color: seashell;
}
.current .temp{
    color: seashell;
    font-weight: 900;
    font-size: 80px;
    text-shadow: 3px 10px rgba(0, 0, 0, 0.6);
    margin: 30px 0;
} 

.current .temp span{
    font-weight: 500;
}

.current .weather{
    color: seashell;
    font-style: italic;
    text-shadow: 0 4px rgba(0, 0, 0, 0.4);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.current .hi-low{
    color: seashell;
    text-shadow: 0 4px rgba(0, 0, 0, 0.4);
    font-size: 24px;
    font-weight: 500;
}
